# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/

# mstest test results
TestResults

*.nupkg

*.bat

.github

.env*

# Ignore user-specific files
*.user
*.suo

# Ignore IDE config files
.vscode/
.idea/

# Ignore test projects (if not needed in the build)
**/TestProject/

# Ignore other unnecessary files
.dockerignore
.git
.gitignore
docker-compose.yml

