services:
  localstack:
    container_name: localstack
    image: localstack/localstack:latest
    environment:
      LOCALSTACK_SERVICES: s3
      LOCALSTACK_PERSISTENCE: 1
      LOCALSTACK_AWS_SECRET_ACCESS_KEY: test
      LOCALSTACK_AWS_ACCESS_KEY_ID: test
      LOCALSTACK_REGION: us-east-1
    ports:
      - "6000:4566"            # LocalStack Gateway
      # - "4510-4559:4510-4559"  # external services port range

  sql-server:
    container_name: sql-server
    image: mcr.microsoft.com/azure-sql-edge:latest
    environment:
      SA_PASSWORD: "MySuperStrongPassword1(!)"
      MSSQL_USER: "sa"
      ACCEPT_EULA: "Y"
    ports:
      - "6001:1433"

  auth-provider-web-api:
    container_name: auth-provider-web-api
    build: .
    image: cq-auth-provider-webapi
    ports:
      - "6002:8080" 
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
      ConnectionStrings__Auth: "Server=sql-server,1433; Database=AuthProvider; User ID=sa; Password=MySuperStrongPassword1(!); TrustServerCertificate=true;"
      ConnectionStrings__Identity: "Server=sql-server,1433; Database=IdentityProvider; User ID=sa; Password=MySuperStrongPassword1(!); TrustServerCertificate=true;"
      DatabaseEngine__Auth: "Sql"
      DatabaseEngine__Identity: "Sql"
      Blob__Type: "localstack"
      LocalStack__ServiceUrl: "http://localhost:5000"
      ASPNETCORE_HTTP_PORTS: 8080
      # ASPNETCORE_URLS: http://*:80
    depends_on:
      - sql-server
      - localstack