USE [master]
GO
/****** Object:  Database [Auth]    Script Date: 3/17/2024 5:20:39 PM ******/
CREATE DATABASE [Auth]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Auth', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Auth.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Auth_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Auth_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Auth].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Auth]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/17/2024 5:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 3/17/2024 5:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[FirstName] [varchar](max) NULL,
	[LastName] [varchar](max) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountsRoles]    Script Date: 3/17/2024 5:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsRoles](
	[AccountId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AccountsRoles] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 3/17/2024 5:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Key] [nvarchar](max) NOT NULL,
	[IsPublic] [bit] NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResetPasswordApplications]    Script Date: 3/17/2024 5:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResetPasswordApplications](
	[Id] [nvarchar](450) NOT NULL,
	[AccountId] [nvarchar](450) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_ResetPasswordApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/17/2024 5:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Key] [nvarchar](max) NOT NULL,
	[IsPublic] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesPermissions]    Script Date: 3/17/2024 5:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesPermissions](
	[RoleId] [nvarchar](450) NOT NULL,
	[PermissionId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_RolesPermissions] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240302212746_CreateTables', N'7.0.11')
GO
INSERT [dbo].[Accounts] ([Id], [Email], [FullName], [CreatedAt], [FirstName], [LastName]) VALUES (N'07a9de865df04560807fc90149ac33c2', N'lab@gmail.com', N'Lab Lab', CAST(N'2024-03-04T17:20:56.9494679+00:00' AS DateTimeOffset), N'Lab', N'Lab')
INSERT [dbo].[Accounts] ([Id], [Email], [FullName], [CreatedAt], [FirstName], [LastName]) VALUES (N'38902ac0e8984a549771419117341ca2', N'agroTerraAdmin@gmail.com', N'AgroTerra Admin', CAST(N'2024-03-04T14:45:19.6482172+00:00' AS DateTimeOffset), N'AgroTerra', N'Admin')
INSERT [dbo].[Accounts] ([Id], [Email], [FullName], [CreatedAt], [FirstName], [LastName]) VALUES (N'd4702564-8273-495b-a694-82fcc69da874', N'admin@gmail.com', N'Admin Admin', CAST(N'2024-03-02T21:27:46.2566917+00:00' AS DateTimeOffset), N'Admin', N'Admin')
GO
INSERT [dbo].[AccountsRoles] ([AccountId], [RoleId]) VALUES (N'07a9de865df04560807fc90149ac33c2', N'1e2ae4a1739e4479b5f008b6e4261b97')
INSERT [dbo].[AccountsRoles] ([AccountId], [RoleId]) VALUES (N'38902ac0e8984a549771419117341ca2', N'54b4eda3111646a98e35836f9540c218')
INSERT [dbo].[AccountsRoles] ([AccountId], [RoleId]) VALUES (N'd4702564-8273-495b-a694-82fcc69da874', N'ebe421fd52724468bb1b870cf30eec1b')
GO
INSERT [dbo].[Permissions] ([Id], [Name], [Description], [Key], [IsPublic]) VALUES (N'0682cd66199645e5a1fb5ba483cbf9c8', N'Actualizar un permiso', N'Actualizar un permiso', N'updatebyid-permission', 0)
INSERT [dbo].[Permissions] ([Id], [Name], [Description], [Key], [IsPublic]) VALUES (N'0c2fef70676741e0905d2879177090a4', N'Crear semilla', N'Crear semilla', N'create-seed', 0)
INSERT [dbo].[Permissions] ([Id], [Name], [Description], [Key], [IsPublic]) VALUES (N'13ce67315ae5464c889a25379c6b32a5', N'Obtener un permiso', N'Obtener un permiso', N'getbyid-permission', 0)
GO
INSERT [dbo].[Roles] ([Id], [Name], [Description], [Key], [IsPublic]) VALUES (N'1e2ae4a1739e4479b5f008b6e4261b97', N'Laboratorio', N'Laboratorio', N'lab', 0)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [Key], [IsPublic]) VALUES (N'54b4eda3111646a98e35836f9540c218', N'Admin de agroTerra-Calculator', N'Admin de agroTerra-Calculator', N'agroTerra-calculator-admin', 0)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [Key], [IsPublic]) VALUES (N'ebe421fd52724468bb1b870cf30eec1b', N'Admin', N'Admin', N'admin', 0)
GO
INSERT [dbo].[RolesPermissions] ([RoleId], [PermissionId]) VALUES (N'ebe421fd52724468bb1b870cf30eec1b', N'0682cd66199645e5a1fb5ba483cbf9c8')
INSERT [dbo].[RolesPermissions] ([RoleId], [PermissionId]) VALUES (N'1e2ae4a1739e4479b5f008b6e4261b97', N'0c2fef70676741e0905d2879177090a4')
INSERT [dbo].[RolesPermissions] ([RoleId], [PermissionId]) VALUES (N'ebe421fd52724468bb1b870cf30eec1b', N'13ce67315ae5464c889a25379c6b32a5')
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('') FOR [FirstName]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('') FOR [LastName]
GO
ALTER TABLE [dbo].[AccountsRoles]  WITH CHECK ADD  CONSTRAINT [FK_AccountsRoles_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountsRoles] CHECK CONSTRAINT [FK_AccountsRoles_Accounts_AccountId]
GO
ALTER TABLE [dbo].[AccountsRoles]  WITH CHECK ADD  CONSTRAINT [FK_AccountsRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountsRoles] CHECK CONSTRAINT [FK_AccountsRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[ResetPasswordApplications]  WITH CHECK ADD  CONSTRAINT [FK_ResetPasswordApplications_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResetPasswordApplications] CHECK CONSTRAINT [FK_ResetPasswordApplications_Accounts_AccountId]
GO
ALTER TABLE [dbo].[RolesPermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolesPermissions_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolesPermissions] CHECK CONSTRAINT [FK_RolesPermissions_Permissions_PermissionId]
GO
ALTER TABLE [dbo].[RolesPermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolesPermissions_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolesPermissions] CHECK CONSTRAINT [FK_RolesPermissions_Roles_RoleId]
GO
USE [master]
GO
