USE [master]
GO
/****** Object:  Database [Identity]    Script Date: 3/17/2024 5:19:14 PM ******/
CREATE DATABASE [Identity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Identity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Identity.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Identity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Identity_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Identity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Identity]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/17/2024 5:19:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Identities]    Script Date: 3/17/2024 5:19:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Identities](
	[Id] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Identities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 3/17/2024 5:19:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [nvarchar](450) NOT NULL,
	[AccountId] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240226170903_CreateTables', N'7.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240226185150_CreateData', N'7.0.11')
GO
INSERT [dbo].[Identities] ([Id], [Email], [Password]) VALUES (N'07a9de865df04560807fc90149ac33c2', N'lab@gmail.com', N'!12345678')
INSERT [dbo].[Identities] ([Id], [Email], [Password]) VALUES (N'38902ac0e8984a549771419117341ca2', N'agroTerraAdmin@gmail.com', N'!12345678')
INSERT [dbo].[Identities] ([Id], [Email], [Password]) VALUES (N'b96c428729ff414ab538d1fa6ecf896a', N'admin2@gmail.com', N'!12345678')
GO
INSERT [dbo].[Sessions] ([Id], [AccountId], [Email], [Token]) VALUES (N'1a3b4462c4244e3588ccce7a3bd8ac93', N'38902ac0e8984a549771419117341ca2', N'agroTerraAdmin@gmail.com', N'5305e640-4143-45d0-94f6-fa51b0bd8148')
INSERT [dbo].[Sessions] ([Id], [AccountId], [Email], [Token]) VALUES (N'b64c7cc9b8ef4415813c848a325d7e5b', N'd4702564-8273-495b-a694-82fcc69da874', N'admin@gmail.com', N'97143a0e-d6aa-4451-84b6-4d7e89d08b17')
INSERT [dbo].[Sessions] ([Id], [AccountId], [Email], [Token]) VALUES (N'e24a4048f6a14ae98c4f6ab634df59e6', N'07a9de865df04560807fc90149ac33c2', N'lab@gmail.com', N'948406fc-f970-4488-bfd7-b7b51fd7559c')
GO
USE [master]
GO
